[submodule "face_retrieval"]
	path = pipeline/face_retrieval
	url = git@github.com:SLG-Vision/face_retrieval.git
[submodule "gaze_detection"]
	path = pipeline/gaze_detection
	url = git@github.com:SLG-Vision/gaze_detection.git
[submodule "gaze-detection"]
	path = pipeline/gaze-detection
	url = git@github.com:jacksalici/gaze-detection.git
